{% extends 'base1.html' %}
{% block content %}
{% load static %}
<table border="1" width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-hover">
	<tr align="center">
		<td colspan="4">장고 게시판</td>
		<td align="center">글개수 :{{listcount}}</td>
	</tr>
	<tr align="center" valign="middle">
		<td width="8%">번호</td>
		<td width="50%">제목</td>
		<td width="14%">작성자</td>
		<td width="17%">날짜</td>
		<td width="11%">조회수</td>
	</tr>
	{% for bo in board %}
	<tr align="center" valign="middle">
		<td>{{bo.num}}</td>
		<td align="left">
			<a href="/file/board/{{bo.file1}}">@{{bo.file1}}</a>
			&nbsp;&nbsp;&nbsp;
			<a href="../info/{{bo.num}}">{{bo.subject}}</a>
		</td>
		<td>{{bo.name}}</td>
		<td>{{bo.regdate}}</td>
		<td>{{bo.readcnt}}</td>
	</tr>
	{% endfor %}
	<tr align="right">
		<td colspan="5"><a href="/board/write">[글쓰기]</a></td>
	</tr>
	<tr>
		<td colspan="5" style="text-align:center">
			<div class="pagination">
				<div style="width:35%; margin: 5px; display:inline">
					{% if board.has_previous %}
					<a class="abutton" href="?pageNum=1">맨 앞으로</a>
					<a class="abutton" href="?pageNum=">이전</a>
					{% endif %}
				</div>
				<div style="width:30%; margin: 5px; display:inline">
					<span class="current">
						<a href="?pageNum="></a>
					</span>
				</div>
				<div style="width:35%; margin: 5px; display:inline">
					<a class="abutton" href="?pageNum=">다음</a>
					<a class="abutton" href="?pageNum=">맨 뒤로</a>
				</div>
			</div>
		</td>
	</tr>
</table>

{% endblock content %}